HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Govee Api information ###
/src/main/resources/application-local.properties

### Claude Code Markdown file
/CLAUDE.md

### Misc Files ###
#/docs/Notes - Humidifier JSON examples
/docs/API Reference/
/docs/Notes: JSON Bodies Examples/

### Files that will be untracked
/home/gcruzdev/Projects/Tapr/src/main/java/com/Tapr/Trackpad_Controller/Services/ActionService.java
/home/gcruzdev/Projects/Tapr/src/main/java/com/Tapr/Trackpad_Controller/Repositories/LightActionRepository.java
/home/gcruzdev/Projects/Tapr/src/main/java/com/Tapr/Trackpad_Controller/Repositories/ActionRepository.java
/home/gcruzdev/Projects/Tapr/src/main/java/com/Tapr/Trackpad_Controller/ExceptionHandling/ActionNotFoundException.java
/home/gcruzdev/Projects/Tapr/src/main/java/com/Tapr/Trackpad_Controller/ExceptionHandling/ActionNotFoundAdvice.java
/home/gcruzdev/Projects/Tapr/src/main/java/com/Tapr/Trackpad_Controller/Entities/LightAction.java
/home/gcruzdev/Projects/Tapr/src/main/java/com/Tapr/Trackpad_Controller/Entities/Action.java